# torch==2.3.0a0
# torchvision==0.18.0a0
transformers
peft
ipywidgets
bitsandbytes
pillow
sentencepiece
protobuf
python-dotenv

# pytorchvideo  # pip version is broken
decord
av
imageio
opencv-python==4.8.0.74

einops
deepspeed
flash-attn
tensorboardX